/BMW ConnectedDrive.indigoPlugin.zip
/vehicle data.py
/.DS_Store
BMW ConnectedDrive.bbprojectd/
bimmerconnected-bimmer_connected.webloc

BMW-i-Remote-README.md at master · edent-BMW-i-Remote.webloc

bimmer_connected-dev/

bimmer_connected-master/
